{% extends 'base.html' %}
{% block page_title %}About{% endblock %}
{% block page_header %}About{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="black-background">
            <p>Subify. Your favourite sandwich filling site, on a mission to make sandwiches fun again!</p>
            <p>To expand the site, we've made an issue tracker site. Subify users can request bugs to be fixed and new features to enhance the user experience.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h4><span class="black-background">How does it work?</span></h4>
        <div class="black-background">
            <p>Users can post bugs or tickets, and both bug requests and feature requests can be upvoted. Hopefully all requests will be implemented, but upvotes increase priority - the more upvotes a bug or feature request has, the sooner it will be fixed/added to the site.</p>
            <p>Bug tickets and upvotes are free, but feature tickets and upvotes are £10.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h4><span class="black-background">What is an issue?</span></h4>
        <div class="black-background">
            <p>A bug is an error that produces an incorrect or undesired result - something that prevents the site from working as intended.
            <br>A feature can be anything new and exciting that you think would improve the site; a better way of doing things, a new function on top of adding, editing and deleting recipes or a way to share recipes to social media or by messaging.</p>
            <p>It's also worth noting that you can only buy one feature ticket/upvote at a time, although there's no limit for how many feature tickets or feature upvotes you can buy.</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h4><span class="black-background">Contact</span></h4>
        <div class="black-background">
            <p>If you have any questions or issues beyond described on this page, don't hesitate to contact us by email on <a href="mailto:info.issuetracker@subify.com">info.issuetracker@subify.com</a>.</p>
        </div>
    </div>
</div>


{% endblock %}
