{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}Home{% endblock %}
{% block index_active %}active{% endblock %}

{% block some_js %}
<script type="text/javascript" src="{% static 'js/typing.js' %}"></script>
{% endblock %}

{% block content %}


<div class="typing-height">
    <div class="row">
        <div class="col-12">
            <h2 class="typing-h2" id="typing"></h2><h2 class="typing-h2" id="cursor">|</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="typing-h2" id="typing2"></h2><h2 id="cursor2">|</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background flex">
            <div class="call-to-action">
                <a href="{% url 'buy_tickets' %}" class="btn big text-uppercase">Buy a ticket!</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
