{% extends 'base.html' %}
{% load static from staticfiles %}
{% block page_title %}Home{% endblock %}

{% block some_js %}
<script type="text/javascript" src="{% static 'js/typing.js' %}"></script>
{% endblock %}

{% block content %}


<div class="typing-height">
    <div class="row">
        <div class="col-12">
            <h3 class="typing-h3" id="typing"></h3><h3 class="typing-h3" id="cursor">|</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="typing-h3" id="typing2"></h3><h3 id="cursor2">|</h3>
        </div>
    </div>
</div>


Maybe include a button to about, all_tickets or buy_tickets?
But these are in the nav so really you shouldn't need any additional buttons?


{% endblock %}
