{% extends "base.html" %}
{% block page_title %}Password Reset{% endblock %}

{% block content %}


{% if validlink %}
<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p>Please enter your new password twice to verify you typed it in correctly.</p>
        </div>
    </div>
</div>
<form method="post" class="accountform">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="black-background">
                <p>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    <br>{{ form.new_password1 }}
                </p>
                <p>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    <br>{{ form.new_password2 }}
                </p>
            </div>
        </div>
        <div class="col-12">
            {% csrf_token %}
            <button type="submit" class="black-background float-right">Set New Password</button>
        </div>
    </div>
</form>
{% else %}
<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, possibly because it has already been used.
            <br>Please request a new password reset.</p>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
