{% extends 'base.html' %}
{% block page_title %}Password Reset{% endblock %}

{% block content %}


<form method="POST">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="black-background">
                <p>
                    {{ form.email.errors }}<br>
                    <label for="id_email">Please enter your email address to receive instructions:</label>
                    <br>{{ form.email }}
                </p>
            </div>
        </div>
        <div class="col-12">
            {% csrf_token %}
            <button type="submit" class="black-background float-right">Reset Password</button>
        </div>
    </div>
</form>


{% endblock %}
