{% extends 'base.html' %}
{% block page_title %}Password Reset Page{% endblock %}
{% block page_header %}Password Reset{% endblock %}

{% block content %}


<form method="POST" class="accountform">
    <p>Please enter your email address to receive instructions.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.email.errors }}
    <p>
        <label class="control-label required-field" for="id_email">Email address:</label>
        {{ form.email }}
        <input type="submit" value="Reset password">
    </p>
</form>


{% endblock %}
