{% extends "base.html" %}
{% block page_title %}Password Reset{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p>Your password has been set. You may go ahead and log in now.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="black-background float-right"><a href="{% url 'login' %}" class="btn">Log in</a></button>
    </div>
</div>


{% endblock %}
