{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Buy Tickets{% endblock %}
{% block page_header %}<h1><span class="black-background">Buy Tickets</span></h1>{% endblock %}
{% block buy_tickets_active %}active{% endblock %}

{% block content %}


<div class="row row-flex">
    {% for product in products %}
    <div class="col-offset-1 col-10 col-md-offset-0 col-md-4 display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}

            {% if product.name == "Bug" %}
            </p>
            {% else %}
            *</p>
            {% endif %}

            <div class="row">
                <div class="col-12">
                    {% if product.price > 0 %}
                    <p>£{{ product.price }}</p>
                    {% else %}
                    <p>FREE</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% if product.name == "Bug" %}
                    <span class="input-group-btn">
                        <a class="btn btn-success" href="{% url 'bug' %}">Add</a>
                    </span>
                    {% else %}
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-class">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="row row-flex">
    <p><strong>*</strong> A feature needs enough paid upvotes to be implemented.</p>
</div>


{% endblock %}
