{% extends 'base.html' %}
{% block page_title %}Feature Or Upvote{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p>I just bought a...</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background flex">
            <div class="call-to-action">
                <a class="btn big" href="{% url 'feature' %}">Feature</a>
            </div>
        </div>
    </div>
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background flex">
            <div class="call-to-action">
                <a class="btn big" href="{% url 'upvote' %}">Upvote</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
