{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Ticket Detail{% endblock %}
{% block page_header %}<h1><span class="black-background">{{ ticket.issue_name }}</span></h1>{% endblock %}

{% block content %}


<div class="row row-flex">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p>Type: {{ ticket.type }}</p>
            <p class="ticket-description">Upvotes: {{ ticket.upvotes }} (Do a fancy upvote button with <i class="far fa-thumbs-up"></i> etc)</p>
            <p>Description: {{ ticket.description }}</p>
            <p class="ticket-description">Status: {{ ticket.status }}</p>
            <p>Urgent: {{ ticket.urgent|yesno:"Yes,No" }}</p>
            <p class="ticket-description">Published: {{ ticket.published_date }}</p>
            <p>Views: {{ ticket.views }}</p>
        </div>
    </div>
</div>


{% endblock %}
