{% extends 'base.html' %}
{% block page_title %}Ticket Detail{% endblock %}
{% block page_header %}<h1><span class="black-background">{{ ticket.issue_name }}</span></h1>{% endblock %}

{% block content %}


<div class="row row-flex">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p><strong>Type:</strong> {{ ticket.type }}</p>
            <p><strong>Upvotes:</strong> {{ ticket.upvotes }}</p>
            <p><strong>Description:</strong> {{ ticket.description }}</p>
            <p><strong>Status:</strong> {{ ticket.status }}</p>
            <p><strong>Urgent:</strong> {{ ticket.urgent|yesno:"Yes,No" }}</p>
            <p><strong>Published:</strong> {{ ticket.published_date }}</p>
            <p><strong>Views:</strong> {{ ticket.views }}</p>
        </div>
    </div>
</div>
{% if ticket.type == "Bug" %}
<div class="row">
    <div class="col-12">
        <button class="black-background float-right"><a href="{% url 'add_upvote' ticket.id %}" class="btn">Upvote</a></button>
    </div>
</div>
{% endif %}


{% endblock %}
