{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Ticket Detail{% endblock %}
{% block page_header %}{{ ticket.issue_name }}{% endblock %}

{% block content %}


<div class="row row-flex">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <p>Type: {{ ticket.type }}</p>
        <p>Upvotes: {{ ticket.upvotes }} (Do a fancy upvote button with <i class="far fa-thumbs-up"></i> etc)</p>
        <p class="product-description">{{ ticket.description }}</p>
        <p>Status: {{ ticket.status }}</p>
        <p>Urgent: {{ ticket.urgent|yesno:"Yes,No" }}</p>
        <p>Published: {{ ticket.published_date }}</p>
        <p>Views: {{ ticket.views }}</p>
    </div>
</div>


{% endblock %}
