{% extends 'base.html' %}
{% block page_title %}Upvote{% endblock %}
{% block page_header %}<h1><span class="black-background">Upvote</span></h1>{% endblock %}

{% block content %}


<div class="row row-flex">
    {% for ticket in tickets %}
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <h4>{{ ticket.issue_name }}</h4>
            <p>{{ ticket.description }}</p>
            <a href="{% url 'add_upvote' ticket.id %}" class="btn">Upvote</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
