@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap");
/*        Pages        */
html {
  overflow-x: hidden; }

body {
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  color: #fff;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  min-height: 100vh; }

.container {
  margin-bottom: 40px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .container {
      margin-top: 25px; } }

.black-background {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 2px 10px;
  border-radius: 5px;
  margin-bottom: 20px; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

a {
  color: #fff;
  text-decoration: underline; }
  a:hover {
    color: #fff;
    text-decoration: none; }

nav a {
  text-decoration: none; }

.product {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: none; }
  @media (min-width: 768px) {
    .product {
      display: block; } }

.caption p {
  word-wrap: break-word; }

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px; }

.black-background > p {
  margin-bottom: 0; }

.black-background > p:last-of-type {
  margin-bottom: 0.5rem !important; }

.typing-height {
  min-height: 45vh;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  margin-top: -10px; }
  .typing-height h2 {
    line-height: 60px; }
    @media (min-width: 768px) {
      .typing-height h2 {
        font-size: 2.5rem; } }
  @media (min-width: 768px) {
    .typing-height {
      min-height: 30vh;
      line-height: 1.25;
      margin-top: 4vh; } }
  @media (min-width: 992px) {
    .typing-height {
      min-height: 30vh;
      line-height: 1.25;
      margin-top: 4vh; } }

.graphs {
  margin-bottom: 10px; }

.data-heading {
  margin-top: 10px; }

/*        Button        */
button {
  border: none;
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0; }
  button:hover {
    text-decoration: none; }

@media (min-width: 992px) {
  .typing-height button {
    text-align: center; } }

button.black-background {
  padding-left: 25px;
  padding-right: 25px; }

.btn {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }
  .btn:hover {
    color: #fff; }

.big {
  font-size: 1.5rem;
  font-weight: 600; }

.call-to-action {
  height: 15vh; }

/*        Cursor        */
#cursor,
#cursor2 {
  animation: 1s blink step-end infinite; }

#cursor2 {
  display: none; }

.typing-h2 {
  display: inline; }

@keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: #fff; } }
@-moz-keyframes blink {
  from,
    to {
    color: transparent; }
  50% {
    color: #fff; } }
@-webkit-keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: #fff; } }
/*        Footer        */
footer {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }
  footer p {
    margin-bottom: 0; }

/*        Input        */
input {
  padding-left: 5px;
  padding-bottom: 1px; }

.form-control,
#id_email,
#id_new_password1,
#id_new_password2 {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem 1px 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

/*        Nav        */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px; }

.badge-warning[href] {
  background-color: #c67605; }

.show > .nav-link {
  color: rgba(255, 255, 255, 0.75); }

.dropdown-menu {
  background-color: inherit;
  border: inherit;
  padding: 0;
  margin: 0; }

.dropdown-item {
  color: #fff; }

.fas, .far {
  width: 1.3rem; }
  @media (min-width: 992px) {
    .fas, .far {
      display: none; } }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

.nav-item button:hover {
  color: rgba(255, 255, 255, 0.75); }

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff; }

.bg-primary {
  background-color: transparent !important; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.dropdown-item:active,
.dropdown-item:focus {
  color: #fff;
  background-color: transparent; }

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent; }

/*# sourceMappingURL=style.css.map */
