/*        Button        */

button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
}

button:hover {
    text-decoration: none;
}

.btn {
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.big {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

.call-to-action {
    height: 15vh;
}

.btn-left {
    // Fill these out
}

.btn-right {
    // Just for one page which has two buttons
}