/*        Button        */

button {
    border: none;
    background-color: transparent;
}

.btn {
    color: #fff;
}

.btn-left {
    // Fill these out
}

.btn-right {
    // Just for one page which has two buttons
}