/*        Button        */

button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
    
    &:hover {
        text-decoration: none;
    }
}

.typing-height button {
    @media (min-width: 992px) {
        text-align: center;
    }
}

button.black-background,
a.black-background {
    padding-left: 25px;
    padding-right: 25px;
}

.btn {
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    &:hover {
        color: #fff;
    }
}

.big {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
}

.call-to-action {
    height: 15vh;
    display: flex;
}
