/*        Cursor        */

#cursor,
#cursor2 {
    animation: 1s blink step-end infinite;
}

#cursor2 {
    display: none;
}

.typing-h2 {
  display: inline;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}
