/*        Nav        */

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
    
    /*
    
    make this color a variable?
    
    where is label-warning??? Can't find it being used
    
    */
    
}

.show > .nav-link {
    color: rgba(255,255,255,.75);
}

.dropdown-menu {
    background-color: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.fas, .far {
    width: 1.3rem;
}

@media screen and (min-width:992px) {
    .fas, .far {
        display: none;
    }
}
