/*        Nav        */

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
    
    /*
    
    make this color a variable?
    
    where is label-warning??? Can't find it being used
    
    */
    
}

// .show > .nav-link {
//     color: rgba(255,255,255,.75);
// }

.dropdown-menu {
    background-color: inherit;
    border: inherit;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    color: #fff;
}

.fas, .far {
    width: 1.3rem;
    
    @media (min-width: 992px) {
        display: none;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-item button:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.bg-primary {
    background-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
