/*        Pages        */

body {
    background: linear-gradient(35deg, $color-one, $color-two);
    color: #fff;
    font-family: $fonts;
}

.container {
    margin-bottom: 80px;
    min-height: 100vh;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 20px;
    border-radius: 10px;
}

a {
    color: #fff;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.typing-height {
    min-height: 35vh;
    font-weight: 600;
    font-size: 3rem;
    
    @media (min-width: 992px) {
        text-align: center;
    }
}

.down-icon {
    margin-top: 33vh;
    width: 100%;
    text-align: center;
    margin-bottom: 8vh;
}
