{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Checkout{% endblock %}
{% block page_header %}<h1><span class="black-background">Checkout</span></h1>{% endblock %}

{% block some_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}


<div class="row row-flex">
    {% for item in cart_items %}
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <div class="row">
                <div class="col-12 order-md-2 col-md-4 col-lg-5">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                </div>
                <div class="col-12 order-md-1 col-md-8 col-lg-7">
                    <h4>{{ item.product.name }}</h4>
                    <p>{{ item.product.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
        <div class="black-background float-right">
            <p class="btn">£{{ total }}</p>
        </div>
    </div>
</div>
<form method="POST" id="payment-form" action="{% url 'checkout' %}">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="black-background">
                <h4>Payment Details</h4>
                <div id="credit-card-errors" style="display: none;">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <div class="form-group">
                    {{ order_form | as_bootstrap }}
                </div>
                <div class="form-group">
                    {{ payment_form | as_bootstrap }}
                </div>
            </div>
        </div>
        <div class="col-12">
            {% csrf_token %}
            <button type="submit" class="black-background float-right" id="submit_payment_btn">Pay</button>
        </div>
    </div>
</form>


{% endblock %}
