{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Log In{% endblock %}
{% block page_header %}<h1><span class="black-background">Log In</span></h1>{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}


<form method="POST">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="black-background">
                <div class="form-group">
                    {{ login_form | as_bootstrap }}
                </div>
            </div>
        </div>
        <div class="col-12">
            {% csrf_token %}
            <button type="submit" class="black-background float-right">Log In</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <p class="black-background">
            I would like to <a href="{% url 'password_reset' %}">reset my password</a>.
        </p>
    </div>
</div>


{% endblock %}
