{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration{% endblock %}
{% block page_header %}<h1><span class="black-background">Registration</span></h1>{% endblock %}
{% block registration_active %}active{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <p>If you already have an account, you can <a href="{% url 'login' %}">log in</a>.</p>
        </div>
    </div>
</div>
<form method="POST">
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="black-background">
                <div class="form-group">
                    {{ registration_form | as_bootstrap }}
                </div>
            </div>
        </div>
        <div class="col-12">
            {% csrf_token %}
            <button type="submit" class="black-background float-right">Register</button>
        </div>
    </div>
</form>


{% endblock %}
