{% extends 'base.html' %}
{% block page_title %}Cart{% endblock %}
{% block page_header %}<h1><span class="black-background">Cart</span></h1>{% endblock %}
{% block cart_active %}active{% endblock %}

{% block content %}


<div class="row row-flex">
    {% for item in cart_items %}
    <div class="col-12 offset-md-1 col-md-10">
        <div class="black-background">
            <div class="row">
                <div class="col-12 order-md-2 col-md-4 col-lg-5">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                </div>
                <div class="col-12 order-md-1 col-md-8 col-lg-7">
                    <h4>{{ item.product.name }}</h4>
                    <p>{{ item.product.description }}</p>
                    <p>£{{ item.product.price }}</p>
                    <button><a href="{% url 'delete_cart' item.id %}" class="btn">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
        <button class="black-background float-right"><a href="{% url 'checkout' %}" class="btn">Checkout</a></button>
    </div>
</div>


{% endblock %}
